.contact-container {
    background-image: url("imgs/footer-bg.png");
    background-size: cover;
    background-position: center;
    height: 400px;

    .contact-txt {
        float: left;
        padding-left: 200px;
        padding-top: 100px;
        color: aliceblue;
        h2{
            font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
.video {
  background-image: url(imgs/video-bg.png);
  background-size: cover;
  background-position: center;
  height: 577px;

  display: flex;
  justify-content: center;
  align-items: center;
  .icon-container {

    width: 250px;
    height: 250px;
    background-color: #be927832;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

      i {
        font-size: 25px;
        color: white;
        width: 100px;
        height: 100px;
        background-color: #be9278;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 3px solid white;
      }
  }
}

.contact{
  display: inline-block;
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    left: 1100px;

  .contact-info{
    .contact-info-icon{
      display: inline-block;
      position: relative;
       top: -10px;
      i{
       display: inline-block;
       font-size: 35px;

    }
    }
    .contact-info-text{
      display: inline-block;
    }
    p{
      font-size: 16px;
      font-weight: 400;
    }
  }
}