.contact-container {
  background-image: url("imgs/footer-bg.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  overflow: hidden;

  .contact-imgs {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 640px;
    height: 216px;
  }

  .contact-txt {
    float: left;
    padding-left: 200px;
    padding-top: 100px;
    color: aliceblue;

    h2 {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .error-container {
    text-align: center;
    max-width: 600px;
    color: #555;
  }

  .error-icon {
    font-size: 40px;
    background-color: #999;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 15px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  .contact-txt {
    float: left;
    padding-left: 200px;
    padding-top: 100px;

    color: rgb(34, 53, 70);

    color: aliceblue;

    h2 {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.clearfix {
  clear: both;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

p {
  line-height: 30px;
}

:root {
  /* Colors */
  --color-primary: #be9278;
  --color-primary-light: #c6a16e;
  --color-secondary: #101a31;
  --color-secondary-light: #10285d;
  --color-text: #101a31;
  --color-text-light: #fff;
  --color-bg-light: #fff;
  --color-gray-light: #f7f7f7;
  --color-bg-pink: #f2e1d9;
  --color-border: #eee;
  --color-hero-gradient: to right, rgba(16, 26, 48, 0.7) 0%,
    rgba(16, 26, 48, 0.7) 12%, #101a31 91%, #101a31 100%;
  --color-button-gradient: linear-gradient(to left, #c79f88, #b6876b, #b6876b);
  /* Font Families */
  --font-primary: "Montserrat", sans-serif;
  --font-heading: "Josefin Sans", sans-serif;

  /* Font Sizes */
  --fs-base: 1rem;
  /* 16px */
  --fs-xs: 0.875rem;
  /* 14px */
  --fs-small: 0.938rem;
  /* 15px */
  --fs-medium: 1.125rem;
  /* 18px */
  --fs-large: 1.875rem;
  /* 30px */
  --fs-xl: 3.5rem;
  /* 56px */
  --fs-xxl: 4.75rem;
  /* 76px */

  /* Font Sizes */
  --fs-base: 1rem;
  /* 16px */
  --fs-xs: 0.875rem;
  /* 14px */
  --fs-small: 0.938rem;
  /* 15px */
  --fs-medium: 1.125rem;
  /* 18px */
  --fs-large: 1.875rem;
  /* 30px */
  --fs-xl: 3.5rem;
  /* 56px */
  --fs-xxl: 4.75rem;
  /* 76px */

  /* Spacing */
  --spacing-xs: 15px;
  --spacing-sm: 25px;
  --spacing-md: 30px;
  --spacing-lg: 45px;
  --spacing-xl: 60px;
  --spacing-xxl: 85px;
  /* Sizes */
  --button-padding: 32px 65px;
  --border-radius: 4px;

  /* Shadows */
  --shadow-preloader: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  --shadow-header: 0 10px 15px rgba(25, 25, 25, 0.1);
}

/* header */

/* nesting */

.header {
  background-color: var(--color-bg-light);

  .header__logo-link {
    float: left;
    margin: var(--spacing-sm) var(--spacing-xxl);
  }

  .header__nav {
    float: right;

    .header__nav-list {
      display: inline-block;

      .header__nav-item {
        display: inline-block;
        margin: 0 var(--spacing-sm);
        font-size: var(--fs-small);
        font-weight: 600;

        .header__nav-link {
          color: var(--color-text);
        }
      }
    }

    .header__nav-visit {
      background-color: var(--color-primary);
      padding: var(--button-padding);
      margin-left: var(--spacing-xl);
    }
  }
}

.contact-container {
  background-image: url("imgs/footer-bg.png");
  background-size: cover;
  background-position: center;
  height: 400px;

  .contact-txt {
    float: left;
    padding-left: 200px;
    padding-top: 100px;
    color: aliceblue;

    h2 {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.hero {
  background: linear-gradient(
      to right,
      rgba(16, 26, 48, 0.7) 0%,
      rgba(16, 26, 48, 0.7) 12%,
      #101a31 91%,
      #101a31 100%
    ),
    url(imgs/hero_bg.png);
  height: 850px;
  background-position: center;
  background-size: cover;
  position: relative;

  .hero_img_container {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 750px;

    .hero_img {
      height: 100%;
      width: 660px;
    }
  }
}

/* ================= */
/* offers */

.offers {
  width: 80%;
  margin: 100px auto;

  .offers__item {
    width: 33%;
    display: inline-block;
    transform: translateY(600px);
    opacity: 0;

    .offers__img-container {
      padding: var(--spacing-lg);

      .img__wrapper {
        width: 310px;
        height: 390px;
        /* background-color: lightblue; */
        overflow: hidden;
      }

      .offer__img {
        width: 100%;
        transition: scale 0.7s;
      }
    }
  }

  .offers__content {
    padding-left: var(--spacing-lg);
    position: relative;

    .offers__number {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--color-primary-light);
      color: var(--color-text-light);
      display: inline-block;

      text-align: center;
      line-height: 35px;
      position: absolute;
      top: -15px;
      left: -15px;
      transition: all 0.7s;
    }

    .offers__heading {
      font-size: var(--fs-large);
      color: var(--color-text);
      margin-bottom: var(--spacing-xs);
      transition: color 0.7s;
    }

    .offers__text {
      width: 80%;
    }
  }
}

.offers__item:hover {
  .offer__img {
    scale: 1.1;
  }

  .offers__number {
    background-color: var(--color-bg-light);
    color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
  }

  .offers__heading {
    color: var(--color-primary-light);
  }
}

.video {
  background-image: url(imgs/video-bg.png);
  background-size: cover;
  background-position: center;
  height: 577px;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-container {
    width: 250px;
    height: 250px;
    background-color: #be927832;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    i {
      font-size: 25px;
      color: white;
      width: 100px;
      height: 100px;
      background-color: #be9278;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 3px solid white;
    }
  }
}

.contact {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  left: 1100px;
  margin-top: 60px;

  .contact-info {
    margin-bottom: 20px;

    .contact-info-icon {
      display: inline-block;
      position: relative;
      top: -10px;

      i {
        display: inline-block;
        font-size: 35px;
        opacity: 0.5;
      }
    }

    .contact-info-text {
      display: inline-block;
      margin-left: 20px;

      h3 {
      }

      p {
      }
    }

    .services {
      margin: 100px auto;

      .services-text {
        width: 70%;
        margin: var(--spacing-xxl) auto;
        text-align: center;

        h2 {
          font-size: var(--fs-xl);
        }

        p {
          font-size: var(--fs-medium);
        }
      }

      img {
        margin-bottom: 20px;
      }

      .services-text-headers {
        font-size: 25px;
        margin-top: 15px;
      }
    }

    .contact-form-info {
      position: relative;
      min-height: 500px;
    }

    .contact-form {
      position: absolute;
      left: 200px;
      top: 0;
      width: 50%;
    }

    .contact {
      position: absolute;
      right: 200px;
      top: 0;
      width: 40%;
    }

    .contact {
      display: inline-block;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      left: 1100px;
      margin-top: 60px;

      .contact-info {
        margin-bottom: 20px;

        .contact-info-icon {
          display: inline-block;
          position: relative;
          top: -10px;

          i {
            display: inline-block;
            font-size: 35px;
            opacity: 0.5;
          }
        }

        .contact-info-text {
          display: inline-block;
          margin-left: 20px;

          h3 {
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    /*contact form */
    /* ================= Base style ============ */
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

    * {
      padding: 0;
      margin: 0;
      /* box-sizing: border-box; */
    }

    .clearfix {
      clear: both;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    html {
      font-family: var(--font-primary);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-heading);
      font-weight: 600;
    }

    p {
      line-height: 30px;
    }

    :root {
      /* Colors */
      --color-primary: #be9278;
      --color-primary-light: #c6a16e;
      --color-secondary: #101a31;
      --color-secondary-light: #10285d;
      --color-text: #101a31;
      --color-text-light: #fff;
      --color-bg-light: #fff;
      --color-gray-light: #f7f7f7;
      --color-bg-pink: #f2e1d9;
      --color-border: #eee;
      --color-hero-gradient: to right, rgba(16, 26, 48, 0.7) 0%,
        rgba(16, 26, 48, 0.7) 12%, #101a31 91%, #101a31 100%;
      --color-button-gradient: linear-gradient(
        to left,
        #c79f88,
        #b6876b,
        #b6876b
      );

      /* Font Families */
      --font-primary: "Montserrat", sans-serif;
      --font-heading: "Josefin Sans", sans-serif;

      /* Font Sizes */
      --fs-base: 1rem;
      /* 16px */
      --fs-xs: 0.875rem;
      /* 14px */
      --fs-small: 0.938rem;
      /* 15px */
      --fs-medium: 1.125rem;
      /* 18px */
      --fs-large: 1.875rem;
      /* 30px */
      --fs-xl: 3.5rem;
      /* 56px */
      --fs-xxl: 4.75rem;
      /* 76px */

      /* Spacing */
      --spacing-xs: 15px;
      --spacing-sm: 25px;
      --spacing-md: 30px;
      --spacing-lg: 45px;
      --spacing-xl: 60px;
      --spacing-xxl: 85px;

      /* Sizes */
      --button-padding: 32px 65px;
      --border-radius: 4px;

      /* Shadows */
      --shadow-preloader: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
      --shadow-header: 0 10px 15px rgba(25, 25, 25, 0.1);
    }

    .contact-form {
      width: 800px;
      height: 470px;
    }

    .contact-title {
      line-height: 32px;
      font-size: 27px;
      font-weight: 600;
      word-spacing: 0px;
    }

    .contact-form-textarea {
      height: 185px;
      width: 763px;
      border: 1px solid #e5e6e9;
      padding: 4px 8px 4px 18px;
      font-size: 20px;
      line-height: 20px;
    }

    .name-email-section input {
      display: inline-block;
      width: 370px;
      height: 48px;
      border: 1px solid #e5e6e9;
      padding: 4px 10px;
      font-size: 13px;
      line-height: 20px;
    }

    .subject {
      width: 770px;
      height: 48px;
      padding: 4px 8px;
      line-height: 20px;
      font-size: 13px;
      border: 1px solid #e5e6e9;
    }

    .submit {
      padding: 18px 44px;
      border: 1px solid #be9278;
      display: block;
      cursor: pointer;
      text-align: center;
      margin-top: 10px;
      color: #be9278;
      background-color: #fff;
    }

    .submit:hover {
      background-color: #be9278;
      color: #e5e6e9;
      transition: all 300ms;
    }

    /* start slide nada*/

    .customers {
      width: 50%;
      position: relative;
      margin: 100px auto;

      .quates {
        position: absolute;
        top: -70px;
        left: -80px;
        z-index: -1;
      }

      p {
        font-family: Montserrat, sans-serif;
        font-size: 19px;
        font-weight: 400;

        color: rgb(1, 10, 68);
      }

      .customer-details {
        margin: 50px 0;

        .customer_img_container {
          float: left;
        }

        .customer-info {
          float: left;
          font-family: Montserrat, sans-serif;
          margin-top: 30px;
          h2 {
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            color: rgb(29, 37, 71);
          }

          p {
            font-size: 14px;
            font-weight: 400;
            color: rgb(100, 109, 119);
          }
        }
      }
    }
    /* end slider */

    /* Comment Section Style start  */
    .Comments__container {
      width: 75%;
      margin: 25px auto;
      padding: 10px;

      .comments__area {
        /* width: 80%; */

        .comment_item {
          display: flex;
          /* flex-wrap: nowrap; */
          flex-direction: row;
          justify-content: space-between;

          p {
            color: #adabbb;
          }

          .owner-img {
          }

          .comment-content {
            margin-left: 25px;

            .comment_item-data {
              display: flex;
              justify-content: space-between;

              div {
                width: 30%;
                display: flex;
                justify-content: space-between;

                .comment_owner-name {
                  text-decoration: none;
                  font-size: medium;
                  font-weight: bold;
                  margin-top: 15px;

                  color: black;
                }
              }

              a {
                text-decoration: none;
                font-size: medium;
                font-weight: bold;
                margin-top: 15px;
                color: #adabbb;
                padding: 2px;
              }
            }
          }
        }
      }
    }

    /* Comment Section Style end */
    /*  Start text-after-sample-buttons */

    .page-wrapper p {
      color: #10285d;
      font-size: 0.875rem;
    }
    .page-wrapper {
      width: 80%;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
    }

    .page-wrapper h3 {
      margin-bottom: 15px;
      color: #242424;
      font-weight: 500;
    }
    .page-wrapper h4 {
      margin-bottom: 15px;
      color: #2c2c2c;
      font-weight: 400;
    }
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .image-box {
      flex: 1;
      padding: 10px;
    }
    .image-box img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
    .right-section .image-box {
      order: 0;
      text-align: right;
    }

    .right-section .image-box h3 {
      margin-bottom: 10px;
    }

    .right-section .text-box {
      order: 1;
    }

    .text-box {
      flex: 2;
      padding: 10px;
    }

    .text-right {
      text-align: right;
    }

    .left-section .image-box {
      order: 0;
    }
    .left-section .text-box {
      order: 1;
    }

    .right-section .text-box {
      order: 0;
    }
    .right-section .image-box {
      order: 1;
    }

    .definitions .row {
      flex-wrap: wrap;
      gap: 20px;
    }
    .definition {
      /* background: #f1f1f1; */
      padding: 15px;
      border-radius: 6px;
      flex: 1 1 calc(33.333% - 20px);
      min-width: 250px;
    }
    .definition h4 {
      margin-bottom: 10px;
      color: #444;
    }

    .blockquote {
      background: #eeeeee5b;
      padding: 15px 20px;
      border-left: 3px solid #02101f;
      font-style: italic;
      color: #10285d;
      margin: 20px 0;
      border-radius: 4px;
    }

    /*  End text-after-sample-buttons */

    .services-blocks {
      width: 22%;
      /* transform: translateY(600px); */
      /* opacity: 0; */
      padding-left: 0;
    }

    .all-services {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}

/* Tasneem-start-footer-info-style */

.footer-content {
  float: left;
  margin-top: 80px;
  margin-left: 25px;
}

.content-1 {
  float: left;
  line-height: 40px;
}

.footer-p {
  color: white;
  font-size: var(--fs-medium);
  margin-top: 25px;
  margin-bottom: 25px;
  width: 300px;
}

.phone-bigger,
.phone-smaller {
  color: var(--color-primary);
}

.phone-bigger a,
.phone-smaller a {
  color: var(--color-primary);
}

.phone-bigger a:hover,
.phone-smaller a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-primary);
}

.phone-bigger {
  font-size: var(--fs-large);
  margin-top: 50px;
  margin-bottom: 25px;
}

.footer-header {
  color: var(--color-primary);
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-list li a {
  color: #fff;
  margin-left: 25px;
  line-height: 40px;
}

.content-2 {
  float: left;
  margin-top: 25px;
  margin-left: 130px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 60px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
}

.twitter,
.facebook,
.pinterest {
  background-color: #192242;
}

.icon:hover {
  opacity: 0.4;
}

.copy-rights {
  color: var(--color-bg-light);
  margin-top: 170px;
}

.copy-rights span {
  color: #b6876b;
}

/* end-footer-info-style */

/* Nada Mosalam -  The beginning of the section (about-our-tailor) */

.grandsection {
  background-color: #f2e1d9;
  width: 1500px;
  height: 600px;
  position: relative;
}
#imgN {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 500px;
}

.txtN {
  position: absolute;
  right: 300px;
  top: 260px;
}

#head {
  font-size: 30px;
}
#p1,
#p2 {
  margin: 20px;
}

#btn {
  margin: 20px;
  padding: 20px;
  background-color: #b6876b;
  border: none;
}
.img-gallery {
  width: 95%;
  height: 80vh;
  margin: 20px auto;
  box-sizing: border-box;
  display: block;
  img {
    object-fit: cover; /* يملأ المساحة ويقص الزوايد */
  }
  .second {
    gap: 20px;
    img {
      height: 100%;
      width: 50%;
    }
  }
  section {
    margin-top: 10px;
    width: 100%;
    height: 33%;
    display: flex;
    gap: 10px;
    flex: 1;
    img {
      width: 33%;
    }
  }
}

/* Nada Mosalam -  The End of the section (about-our-tailor) */
